* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("./images/Background/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.desk-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.wrapper {
  display: flex;
  width: 100vw;
  justify-content: flex-start;
}
.wrapper--right {
  justify-content: flex-end;
}

.taskbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 50%;
  background-color: rgba(53, 92, 80, 0.9);
}
.taskbar--right {
  flex-direction: row-reverse;
}
.taskbar__start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border: 0px none transparent;
}
.taskbar__start:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.taskbar__start:active {
  background-color: rgba(128, 128, 128, 0.7);
}
.taskbar__file-explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border: 0px none transparent;
}
.taskbar__file-explorer:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.taskbar__file-explorer:active {
  background-color: rgba(128, 128, 128, 0.7);
}
.taskbar__notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border: 0px none transparent;
}
.taskbar__notifications:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.taskbar__notifications:active {
  background-color: rgba(128, 128, 128, 0.7);
}
.taskbar__sound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border: 0px none transparent;
}
.taskbar__sound:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.taskbar__sound:active {
  background-color: rgba(128, 128, 128, 0.7);
}
.taskbar__time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border: 0px none transparent;
  flex-direction: column;
  text-decoration: none;
  margin: 0;
  color: white;
  font-size: smaller;
  width: auto;
}
.taskbar__time:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.taskbar__time:active {
  background-color: rgba(128, 128, 128, 0.7);
}
.taskbar__time p {
  padding: 1px;
}

.menu {
  display: none;
  flex-direction: row;
  align-items: flex-end;
  background-color: #1d2f3b;
  width: 20%;
  height: 70%;
  overflow: hidden;
  margin-bottom: 45px;
}
.menu__para {
  color: white;
  padding: 10px 20px;
  font-size: small;
}
.menu__left-bar {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-right: 20px;
}
.menu__right-bar {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: scroll;
  height: 100%;
}

.left-bar__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border: 0px none transparent;
}
.left-bar__ico:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.left-bar__ico:active {
  background-color: rgba(128, 128, 128, 0.7);
}

.right-bar__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border: 0px none transparent;
  width: 100%;
  justify-content: flex-start;
}
.right-bar__ico:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
.right-bar__ico:active {
  background-color: rgba(128, 128, 128, 0.7);
}
.right-bar__ico img {
  padding: 0px 10px 0px 4px;
}
.right-bar__para {
  color: white;
}
